.like-icon {
  width: 39px;
  height: 36px;
  fill: none;
}

.like-icon .core {
  fill: none;
  transition: fill var(--transition-speed) linear;
  transition-delay: 0.03s;
}

.like-icon .main-body {
  fill: none;
  transition: fill var(--transition-speed) linear;
  transition-delay: 0.05s;
}

.like-icon .contour {
  fill: var(--contour-color, #000000);
  transition: fill 0.1s linear;
}

.like-icon .sparks {
  opacity: 0;
  fill: var(--animation-fill-color, #ff0000);
}

.like-icon:hover .core {
  fill: var(--contour-color, #000000);
  transition-delay: 0s;
}

.like-icon:hover .main-body {
  fill: var(--contour-color, #000000);
  transition-delay: 0.05s;
}

.like-icon:not(:hover) .core {
  fill: none;
  transition-delay: 0.03s;
}

.like-icon:not(:hover) .main-body {
  fill: none;
  transition-delay: 0s;
}

.like-icon:active .core {
  fill: var(--animation-fill-color, #ff0000);
  transition-delay: 0s;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color, #ff0000);
  transition-delay: 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color, #ff0000);
  transition-delay: 0s;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color, #ff0000);
  transition-delay: 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color, #ff0000);
  transition-delay: 0.06s;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}

@keyframes scale-heart {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: scale-heart 0.3s 0.1s ease-in;
}

@keyframes show-sparks {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.like-icon.is-liked .sparks {
  animation: show-sparks 0.3s 0.3s ease-in;
}

.like-icon:not(.is-liked) .contour {
  fill: var(--contour-color, #000000);
  transition: fill 0.1s linear;
  transition-delay: 0s;
}