.page {
  color: var(--text-color);
  font-family: var(--main-font);
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--font-weight-normal);
}

/* ШАПКА */

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: auto;
  margin-block: 100px;
  border: 2px solid var(--accent-color);
  padding-block-start: clamp(7.5rem, 7.1479rem + 1.5023vi, 8.5rem);
  padding-block-end: 128px;
  font-family: var(--accent-font);
  background-color: var(--background-color);
  inline-size: min(100vi, 700px);
}

.header__logo {
  margin: 0;
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vi, 4.0625rem);
  text-transform: uppercase;
}

.header__title {
  margin: 20px 0 0;
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vi, 1.4375rem);
  text-transform: uppercase;
}

main {
  margin-inline: auto;
  padding: 0 0 50px;
  inline-size: min(100vi, 700px);
}

/* КАРТОЧКИ */

.article {
  margin-bottom: 50px;
  border: 2px solid var(--accent-color);
  background-color: var(--background-color);
  font-variation-settings: "wght" var(--font-weight-normal);
}

.article:last-of-type {
  margin-bottom: 0;
}

.article h2 {
  padding: 3px 10px;
  font-family: var(--main-font);
  font-size: 18px;
  font-variation-settings: "wght" var(--font-weight-bold);
}

.card__image-container {
  position: relative;
  margin-bottom: 25px;
  overflow: hidden;
}

.card__image {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1 / 1;
}

.card__image-text {
  position: absolute;
  z-index: 1;
  font-family: var(--accent-font);
  font-size: 14px;
  text-transform: uppercase;
  inset-block-start: 25px;
  inset-inline-end: 25px;
  mix-blend-mode: hard-light;
}

@supports (
  (text-stroke: 1px var(--stroke-color)) or
    (-webkit-text-stroke: 1px var(--stroke-color))
) {
  .card__image-text {
    color: transparent;
    -webkit-text-stroke: 1px var(--stroke-color);
    text-stroke: 1px var(--stroke-color);
  }
}

@supports not (
  (text-stroke: 1px var(--stroke-color)) or
    (-webkit-text-stroke: 1px var(--stroke-color))
) {
  .card__image-text {
    text-shadow: -1px -1px 0 var(--stroke-color), 1px -1px 0 var(--stroke-color),
      -1px 1px 0 var(--stroke-color), 1px 1px 0 var(--stroke-color);
  }
}

.card__body {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 0 25px 25px 25px;
}

.card__text {
  margin-bottom: 27px;
  font-size: 18px;
  line-height: 21px;
}

.card__text:last-of-type {
  margin-bottom: 0;
}

.card__buttons {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 6px;
}

/* КНОПКИ */

.card__icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 39px;
  height: 36px;
  border: 2px solid transparent;
  padding: 0;
  background-color: transparent;
  transition: border-color var(--transition-speed) ease;
  cursor: pointer;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--accent-color);
}

.standard-button {
  position: relative;
  border: 2px solid var(--accent-color);
  padding: 10px 20px;
  overflow: hidden;
  color: var(--button-text-color);
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 90%;
  background-color: var(--background-color);
  transition: box-shadow var(--transition-speed) ease;
  cursor: pointer;
}

.standard-button:focus {
  outline: none;
}

.standard-button:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
}

.standard-button::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--accent-color);
  transition: transform var(--transition-slow) ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.standard-button:hover::before {
  transform: scaleX(1);
}

.button__text {
  position: relative;
  z-index: 1;
  color: var(--button-text-color);
  font-size: 14px;
  line-height: 0.9;
  transition: color 1s ease;
  mix-blend-mode: difference;
}

.floppy {
  position: relative;
  z-index: 1;
  display: block;
  margin-block-end: 1px;
  fill: var(--button-text-color);
  transition: fill 1s ease;
  block-size: 21px;
  inline-size: 21px;
  mix-blend-mode: difference;
}

.like-icon {
  display: block;
}

/* ПОДВАЛ */

footer {
  display: flex;
  justify-content: center;
  margin-inline: auto;
  padding: 50px 0;
  inline-size: min(100vi, 700px);
}

.save-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 0 auto;
  padding: 15px 20px;
  min-inline-size: 339px;
}

/* ДИАЛОГОВОЕ ОКНО */

.dialog {
  width: calc(100% - 28px);
  max-width: 353px;
  border: 2px solid var(--accent-color);
  padding: 0;
  background-color: var(--background-color);
}

.dialog[open] {
  display: flex;
}

.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.dialog__content {
  display: grid;
  grid-template-columns: 39px 1fr;
  align-items: center;
  gap: 30px;
  padding: 30px;
  color: var(--text-color);
}

.dialog__column:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog__text {
  margin-bottom: 30px;
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.dialog__button {
  width: 100%;
}

/* ФИЛЬТРЫ ДЛЯ КАРТИНОК */

.filter-brightness {
  filter: brightness(175%);
}

.filter-saturate {
  filter: saturate(200%);
}

.filter-contrast {
  filter: contrast(120%);
}

.filter-hue-rotate {
  filter: hue-rotate(270deg);
}

.filter-grayscale {
  filter: grayscale(80%);
}

.filter-sepia {
  filter: sepia(100%);
}

.filter-opacity {
  filter: opacity(50%);
}

.filter-multiple {
  filter: brightness(125%) contrast(275%) saturate(80%);
}

/* МЕДИАЗАПРОС ДЛЯ МОБИЛЬНЫХ */

@media (width <= 375px) {
  .header__logo {
    font-size: min(calc(100vi / 7), 49px);
  }

  .save-button {
    flex-direction: column;
    gap: 8px;
    inline-size: 306px;
    block-size: 80px;
  }

  .floppy {
    block-size: 28px;
    inline-size: 28px;
  }

  .dialog__content {
    grid-template-columns: 1fr;
    gap: 20px;
    text-align: center;
  }
}
