/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  font-family: var(--main-font);
  color: var(--text-color);
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: 'wght' var(--font-weight-normal);
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
}

/* ШАПКА */

.header {
  font-family: var(--accent-font);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: 100px;
  padding-block-start: clamp(7.5rem, 7.1479rem + 1.5023vi, 8.5rem);
  padding-block-end: 128px;
  border: 2px solid var(--accent-color);
  background-color: var(--background-color);
  inline-size: min(100vi, 700px);
  margin-inline: auto;
}

.header__logo {
  font-family: var(--accent-font);
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vi, 4.0625rem);
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  margin: 0;
}

.header__title {
  font-family: var(--accent-font);
  font-weight: 400;
  line-height: 1;
  margin: 20px 0 0;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vi, 1.4375rem);
  text-transform: uppercase;
}

main {
  inline-size: min(100vi, 700px);
  margin-inline: auto;
  padding: 0 0 50px;
}

/* КАРТОЧКИ */

.article {
  margin-bottom: 50px;
  border: 2px solid var(--accent-color);
  background-color: var(--background-color);
  font-variation-settings: 'wght' var(--font-weight-normal);
}

.article:last-of-type {
  margin-bottom: 0;
}

.article h2 {
  font-family: var(--main-font);
  padding: 3px 10px 3px 10px;
  font-size: 18px;
  font-variation-settings: 'wght' var(--font-weight-bold);
}

.card__image-container {
  position: relative;
  margin-bottom: 25px;
  overflow: hidden;
}

.card__image {
  display: block;
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center;
}

.card__image-text {
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 1;
  padding: 0 10px;
  font-family: var(--accent-font);
  font-size: 14px;
  color: var(--text-color);
  background-color: var(--background-color);
  border: 2px solid var(--accent-color);
  text-transform: uppercase;
  mix-blend-mode: hard-light;
}

@supports ((text-stroke: 1px var(--stroke-color)) or (-webkit-text-stroke: 1px var(--stroke-color))) {
  .card__image-text {
    color: transparent;
    -webkit-text-stroke: 1px var(--stroke-color);
    text-stroke: 1px var(--stroke-color);
  }
}

@supports not ((text-stroke: 1px var(--stroke-color)) or (-webkit-text-stroke: 1px var(--stroke-color))) {
  .card__image-text {
    text-shadow: 
      -1px -1px 0 var(--stroke-color),
      1px -1px 0 var(--stroke-color),
      -1px 1px 0 var(--stroke-color),
      1px 1px 0 var(--stroke-color);
  }
}

.card__body {
  display: flex;
  padding: 0 25px 25px 25px;
  flex-direction: column;
  gap: 25px;
}

.card__text {
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 27px;
}

.card__text:last-of-type {
  margin-bottom: 0;
}

.card__buttons {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 6px;
}

/* КНОПКИ */

.button {
  font-family: var(--accent-font);
  background-color: var(--background-color);
  border: 2px solid var(--accent-color);
  position: relative;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--accent-color);
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: left;
}

.button:hover::before {
  transform: scaleX(1);
}

.button:focus {
  outline: none;
  box-shadow: 2px 2px 0 var(--accent-color);
}

.card__icon-button {
  width: 39px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
  transition: border-color var(--transition-speed) ease;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--accent-color);
}

.standard-button {
  position: relative;
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 90%;
  padding: 10px 20px;
  color: var(--button-text-color);
  background-color: var(--background-color);
  border: 2px solid var(--accent-color);
  overflow: hidden;
  transition: box-shadow var(--transition-speed) ease;
  cursor: pointer;
}

.standard-button:focus {
  outline: none;
}

.standard-button:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
}

.standard-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  transform: scaleX(0);
  transition: transform var(--transition-slow) ease-in-out;
  transform-origin: left;
}

.standard-button:hover::before {
  transform: scaleX(1);
}

.button__text {
  font-size: 14px;
  line-height: 0.9;
  position: relative;
  transition: color 1s ease;
  z-index: 1;
  color: var(--button-text-color);
  mix-blend-mode: difference;
}

.floppy {
  position: relative;
  display: block;
  block-size: 21px;
  inline-size: 21px;
  margin-block-end: 1px;
  transition: color 1s ease;
  z-index: 1;
  fill: var(--button-text-color);
  mix-blend-mode: difference;
}

.like-icon {
  display: block;
}

/* ПОДВАЛ */

footer {
  inline-size: min(100vi, 700px);
  margin-inline: auto;
  padding: 50px 0;
  display: flex;
  justify-content: center;
}

.save-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 15px 20px;
  min-width: 339px;
  margin: 0 auto;
}

/* ДИАЛОГОВОЕ ОКНО */

.dialog {
  padding: 0;
  border: 2px solid var(--accent-color);
  background-color: var(--background-color);
  max-width: 357px;
  width: calc(100% - 28px);
}

.dialog[open] {
  display: flex;
}

.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.dialog__content {
  padding: 30px;
  display: grid;
  grid-template-columns: 39px 1fr;
  gap: 30px;
  align-items: center;
  color: var(--text-color);
}

.dialog__column:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dialog__text {
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.dialog__button {
  width: 100%;
}

/* ФИЛЬТРЫ ДЛЯ КАРТИНОК */

.filter-brightness {
  filter: brightness(120%);
}

.filter-contrast {
  filter: contrast(150%);
}

.filter-saturate {
  filter: saturate(200%);
}

.filter-grayscale {
  filter: grayscale(80%);
}

.filter-sepia {
  filter: sepia(60%);
}

.filter-hue-rotate {
  filter: hue-rotate(90deg);
}

.filter-invert {
  filter: invert(20%);
}

.filter-blur {
  filter: blur(2px);
}

.filter-drop-shadow {
  filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.5));
}

.filter-multiple {
  filter: brightness(110%) contrast(120%) saturate(130%);
}

/* МЕДИАЗАПРОС ДЛЯ МОБИЛЬНЫХ */

@media (width <= 375px) {
  .header__logo {
    font-size: min(calc(100vi / 7), 49px);
  }

  .save-button {
    flex-direction: column;
    inline-size: 310px;
    block-size: 84px;
    gap: 8px;
  }

  .floppy {
    block-size: 28px;
    inline-size: 28px;
  }
  
  .header,
  main,
  footer {
    padding-left: 14px;
    padding-right: 14px;
  }
  
  .header {
    padding-block-start: clamp(7.5rem, 7.1479rem + 1.5023vi, 8.5rem);
  }
  
  .article {
    padding: 20px 20px 25px;
  }
  
  .dialog__content {
    grid-template-columns: 1fr;
    gap: 20px;
    text-align: center;
  }
  
  .dialog__text {
    margin-bottom: 20px;
  }
  
  .article h2 {
    font-size: 16px;
  }
  
  .card__text {
    font-size: 16px;
    line-height: 19px;
  }
}