:root {
  --main-font: "Inter-Variable", "Inter", sans-serif;
  --accent-font: "PressStart2P-Regular", "PressStart2P", fantasy;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --font-weight-text: 400;
  --font-weight-title: 700;
  --accent-color: #000000;
  --background-color: #ffffff;
  --text-color: #000000;
  --button-text-color: #ffffff;
  --mix-blend-color: #ffffff;
  --border-color: #000000;
  --shadow-color: #000000;
  --stroke-color: rgb(255 255 255 / 0.5);
  --contour-color: #000000;
  --animation-fill-color: #ff0000;
  --content-width: clamp(375px, 50%, 700px);
  --mobile-width: 100%;
  --header-padding: clamp(1.5rem, 5vw, 3rem);
  --transition-speed: 0.3s;
  --transition-slow: 0.5s;
  --background-image: 
    repeating-linear-gradient(to right,#d3d3d3 0 2px,transparent 2px 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
}
